<h4>{{date}}<br/>{{maxDraws}} Draws Today<br/>
Showing Stats from last <input type="text" maxlength="3" size="3" name="set-number-of-games" id="set-number-of-games" class="set-number-of-games"
                               value="{{numberOfGames}}"/> games in realtime mode<br/>
    Last Draw: {{lastDrawId}}<br/>
<label for="set-show-hot-cold">Show Hot/Cold</label><input type="checkbox" name="set-show-hot-cold" id="set-show-hot-cold"
                                                           class="set-show-hot-cold" {{#hotCold}}checked="checked"{{/hotCold}}/><br/>
<!--<label for="set-live-poll">Use Real-Time Data</label><input type="checkbox" name="set-live-poll" id="set-live-poll" class="set-live-poll" {{#livePoll}}checked="checked"{{/livePoll}}/><br/>-->
</h4>